<!DOCTYPE html>
<html>
<head>
<style>
    
    
body{padding-left:18px;}    
    
div#foto1 {
    margin-top:30px;
    width: 315px;
    height: 33px;
    overflow: hidden;
    position:relative;
    padding:0;
    
}
    
div#foto1 #captur{
   
    margin-top:-30px;
    width:315px;
    text-align:center;
    overflow: hidden;
    padding-top:3px;
    z-index:1;
}

div#foto1 input {
    
    display: block !important;
    width: 315px !important;
    height: 33px !important;
    opacity: 0 !important;
    overflow: hidden !important;
    z-index:3;
    
}    
    
div#form_show {
    
    position:absolute;
    width:280px;
    top:50px;
    left:33px;
    background-color:#337ab7;
    z-index:5;
    margin:0 auto;
    padding:20px 20px;
    border-radius:5px;
    box-shadow: 10px 10px 5px #888888;
    
}    
    
.formu{
    margin:5px 0 5px 0;
   
}   
 
    
#cap{
    width:239px;
}
    
#borr{
    margin-top:5px;
    width:239px;
}   
    
</style>   

<link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="../js/ammap/ammap.css">    
<script type="text/javascript" src="../js/ammap/ammap.js"></script>
<script type="text/javascript" src="../js/ammap/maps/js/worldLow.js"></script>
    
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
<title>Ejemplo de un mapa muy simple y geolocalización - Google API v3</title>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript">
var map; //importante definirla fuera de la funcion initialize() para poderla usar desde otras funciones.
var geocoder;
var punto;
var adreca;
var infowindow;
var localitzador;
var arraypunts = [""];
var contentString;
var urlimatge;
var URL;
var imgURL;
var titolImatge;
  
 function localitza(e,i){
     localitzador = e;
     urlimatge = i;
     
 }   
    
geocoder = new google.maps.Geocoder();
 function initialize() {
   geocoder = new google.maps.Geocoder();
   punto = new google.maps.LatLng(42.2649229, 2.9502337); //ubicación del Plaza Central de Tikal, Guatemala
   var myOptions = {
     zoom: 12, //nivel de zoom para poder ver de cerca.
     center: punto,
     mapTypeId: google.maps.MapTypeId.ROADMAP  //Tipo de mapa inicial, satélite para ver las pirámides
   }
     map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
 }
    

 //copiamos la función de geolocalización del ejemplo anterior.
  
 function pedirPosicion(pos) {
     var myLatlng = new google.maps.LatLng(pos.coords.latitude,pos.coords.longitude);
     var centro = new google.maps.LatLng(pos.coords.latitude,pos.coords.longitude);
     map.setCenter(centro); //pedimos que centre el mapa..
     
    
   
   var infowindow = new google.maps.InfoWindow({
      content: contentString
   });
   var image = '../js/ammap/images/wildflash-icon-1.png';  
   var marker = new google.maps.Marker({
   position: myLatlng,
   icon: image
   }); 
   
     marker.setMap(map);
     
     
    geocoder.geocode({'latLng': myLatlng}, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
        if(localitzador==0){
         adreca = results[1].formatted_address;
        }
          if(localitzador==1){
             adreca = results[0].formatted_address; 
          }
         contentString = '<p><img width="150px" src="'+urlimatge+'"/><p><p style="color:grey"><strong>'+titolImatge+'</strong></p><p>'+adreca+'</p>';
         
         infowindow = new google.maps.InfoWindow({
            content: contentString
         });
          
         infowindow.open(map,marker);
         
          
         google.maps.event.addListener(marker, 'click', function() {
              
               infowindow.open(map,marker);
         }); 
          
          
        // guardarImatge();
        
      } else {
        alert("Geocoder failed due to: " + status);
      }
    
    });
    
     
   
}
 
function geolocalizame(r,i){
localitza(r,i);
navigator.geolocation.getCurrentPosition(pedirPosicion);
 }
  
function guardarImatge(){
    var fotonova = document.createElement('li');
    fotonova.setAttribute('style','width:315px');
    fotonova.setAttribute('class','list-group-item');
    document.body.appendChild(fotonova);
    
    fotonova.innerHTML = "<span class='glyphicon glyphicon-picture'> " +adreca;

}    
    

function captura(){
    titolImatge = document.getElementById('titolimatge').value;
    document.body.removeChild(document.getElementById('form_show'));
    
         
        geolocalizame(0,imgURL);
        
       
    
}    
    
    
 function form_show(){
     
    var imatge = document.getElementById('foto');
    if(imatge.files.length>0){
        
        URL = window.URL || window.webkitURL
        
        imgURL = URL.createObjectURL(imatge.files[0]);
         
        
        
       
    }
     
     
     var a = document.createElement('div');
     a.setAttribute('id','form_show');
     a.setAttribute('class','form-group');
     var tit = document.createElement('p');
     tit.innerHTML = "<span style='color:white'>WILD<strong>FLASH</strong></span> <img src='../js/ammap/images/wildflash-icon-1.png'/>";
     tit.setAttribute('style','text-align:center');
     var imatge_show = document.createElement('img');
     imatge_show.setAttribute('src',imgURL);
     imatge_show.setAttribute('width','239px');
     var b = document.createElement('input');
     b.setAttribute('type','text');
     b.setAttribute('placeholder','Títol Imatge');
     b.setAttribute('id','titolimatge');
     b.setAttribute('class','form-control formu');
     var c = document.createElement('button');
     c.setAttribute('id','cap');
     c.setAttribute('onclick','captura()');
     c.setAttribute('class','btn btn-success');
     c.innerHTML="Guardar <span class='glyphicon glyphicon-floppy-disk'></span>";
     var d = document.createElement('button');
     d.setAttribute('id','borr');
     d.setAttribute('onclick','borrarImatge()');
     d.setAttribute('class','btn btn-danger');
     d.innerHTML="Cancelar <span class='glyphicon glyphicon-remove-circle'></span>";
     
     a.appendChild(tit);
     a.appendChild(imatge_show);
     a.appendChild(b);
     a.appendChild(c);
     a.appendChild(d);
     
     document.body.appendChild(a);
     
     
     
     
 }   
 
 function borrarImatge(){
     document.body.removeChild(document.getElementById('form_show'));
     
 }   
    

</script>
</head>
<body onload="initialize()">
     
    
<div id="map_canvas" style="width:315px ;height:370px;border:3px solid #337ab7;"></div>
 <div id="foto1" class="btn btn-primary">
     <input id="foto" type="file" onchange="form_show()" accept="image/*;capture=camera" >
     <p id="captur">CAPTURA <span class="glyphicon glyphicon-camera"></span></p>
</div>
 

</body>
    
  
    
    
    
    
</html> 