<!DOCTYPE html>
<html lang="ca">
    <head>
        <meta charset="UTF-8">
        <title>la meva primera aplicacio node.js en Heroku</title>
        
    </head>
    <body>
        
       <h1>Hola Mon</h1>
        
        <a href="/ClicarBoles">ClicaRBoles</a>
        <a href="/Quadrats">CanviColorQuadrats</a>
        <a href="/Questions">Questionari</a>
        
    </body>
</html>