<!DOCTYPE html>
<html>
<head>
	 <link rel="stylesheet" href="../css/bootstrap.min.css">
    <style>
    
        .iddiv{color:white;background-color:#337AB7;border:1px solid #337AB7;border-radius:2px;padding:4px;margin-bottom:5px;}
        .caixares {border:1px solid white;height:170px;background-color:white};
    </style>
</head>
<body>

<div id="container">

</div>

	<script src="js/utils.js"></script>
</body>

</html>