<!DOCTYPE html>
<html>
<head>
	 <link rel="stylesheet" href="../css/bootstrap.min.css">
    <style>
    
        .iddiv{color:white;background-color:#337AB7;border:1px solid #337AB7;border-radius:2px;padding:4px;margin-bottom:5px;}
        .caixares {border:1px solid white;height:170px;background-color:white};
    </style>
</head>
<body>

<div id="container">
<!--<div class="col-lg-12">
    <h2>QUESTIONARI</h2>
    

    <p>Qui és l'imprescindible en aquesta vida?</p>
    </div>
<div class="col-lg-6">

   <section id="0" class="list-unstyled">
       <div id="resposta1" class="iddiv">
          
           El caganer del pesebre.
           
       </div>
       <div id="resposta2"  class="iddiv">
          
           La morritus (alcaldesa de figueres).
           
       </div>
       <div id="resposta3" class="iddiv" >
          
           Els dolents (policia).
           
       </div>
       <div id="resposta4" class="iddiv" >
          
           El papa de Roma.
           
       </div>
       <div id="resposta5"  class="iddiv">
          
           Un guardia civil maricón.
           
       </div>
    </section>
</div>
<div id="caixaresposta1" class="resposta col-lg-6" style="border:1px solid white;height:170px;background-color:white">Posa la teva resposta aquí</div>
    
    

    
<div class="col-lg-12">
    <p>Quin plat t'agrada més?</p>
    </div>
<div class="col-lg-6">

   <section id="1" class="list-unstyled">
       <div id="resposta6" class="iddiv">
          
           Kebab wambala.
           
       </div>
       <div id="resposta7"  class="iddiv">
          
           Plat de patates braves.
           
       </div>
       <div id="resposta8" class="iddiv" >
          
           Xoricets.
           
       </div>
       <div id="resposta9" class="iddiv" >
          
           Galta de porc.
           
       </div>
       <div id="resposta10"  class="iddiv">
          
           Formatge de cabra.
           
       </div>
    </section>
</div>
<div id="caixaresposta2" class="resposta col-lg-6" style="border:1px solid white;height:170px;background-color:white">Posa la teva resposta aquí</div>
<div class="col-lg-12">
    <p>Quin esport t'agrada més?</p>
    </div>
<div class="col-lg-6">

   <section id="2" class="list-unstyled">
       <div id="resposta11" class="iddiv">
          
           Futbol.
           
       </div>
       <div id="resposta12"  class="iddiv">
          
           Bàsquet.
           
       </div>
       <div id="resposta13" class="iddiv" >
          
           Hoquei.
           
       </div>
       <div id="resposta14" class="iddiv" >
          
           Rugby.
           
       </div>
       <div id="resposta15"  class="iddiv">
          
           Tennis.
           
       </div>
    </section>
</div>
<div id="caixaresposta3" class="resposta col-lg-6" style="border:1px solid white;height:170px;background-color:white">Posa la teva resposta aquí</div>

!-->
</div>

	<script src="js/utils.js"></script>
</body>

</html>