<!DOCTYPE html>
<html>
<head>
	 <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">

<style>

    li{text-align:center;list-style:none};
    
</style>    
</head>
<body>

<div class="container">
<div class="jumbotron">
  <h1>FOT EL CAMP!<span class="glyphicon glyphicon-plane"></span><span class="glyphicon glyphicon-globe"></span>
    <span class="glyphicon glyphicon-send"></span></h1>
    <p>POTS VIATJAR PER TOT EL MÓN EN LES MILLORS CONDICIONS, BÉ, SI PAGUES ES CLAR!!</p>
</div>
<div class="row">
    
    <div class="col-xs-12">
        
        
        <div class="row">
            
            <ul class="nav nav-tabs">
              <li class="active"><a aria-expanded="false" href="#Europa" data-toggle="tab">Europa</a></li>
              <li class=""><a aria-expanded="true" href="#Asia" data-toggle="tab">Asia</a></li>
              <li class=""><a aria-expanded="true" href="#America" data-toggle="tab">America</a></li>
              <li class=""><a aria-expanded="true" href="#Africa" data-toggle="tab">Africa</a></li>
            </ul>
    <div id="myTabContent" class="tab-content" style="margin-top:40px">
          <div class="tab-pane fade active in" id="Europa">
             <div class="row">
              <div class="row city">
                  <div class="row col-xs-6">
                      <ul>
                          <li class="nomcity">LONDRES
                          </li>
                          <li class="preu">1000<span class="glyphicon glyphicon-euro"></span>
                          </li>
                          <li class="btn col-xs-6 col-xs-offset-3">
                              RESERVA <span class="glyphicon glyphicon-time"></span>
                              
                              
                          </li>
                      </ul>                                  
                  </div>
                  <div class="row col-xs-6">
                      <ul>
                          <li class="nomcity">BERLIN
                          </li>
                          <li class="preu">1100<span class="glyphicon glyphicon-euro"></span>
                          </li>
                          <li class="btn col-xs-6 col-xs-offset-3">
                              RESERVA <span class="glyphicon glyphicon-time"></span>
                              
                          </li>
                      </ul> 
                  </div>
              </div>
              <div class="row city">
                  <div class="row col-xs-6">
                      <ul>
                          <li class="nomcity">AMSTERDAM
                          </li>
                          <li class="preu">950<span class="glyphicon glyphicon-euro"></span>
                          </li>
                          <li class="btn col-xs-offset-3 col-xs-6">
                              RESERVA <span class="glyphicon glyphicon-time"></span>
                              
                          </li>
                      </ul> 
                  </div>
                  <div class="row col-xs-6">
                      <ul>
                          <li class="nomcity">PRAGA
                          </li>
                          <li class="preu">800<span class="glyphicon glyphicon-euro"></span>
                          </li>
                          <li class="btn col-xs-6 col-xs-offset-3">
                              RESERVA <span class="glyphicon glyphicon-time"></span>
                              
                          </li>
                      </ul> 
                  </div>
              </div>
          </div>
        </div>    
          <div class="tab-pane fade" id="Asia">
              <div class="row">
              <div class="row city">
                  <div class="row col-xs-6 ">
                      <ul>
                          <li class="nomcity">Astana
                          </li>
                          <li class="preu">1500<span class="glyphicon glyphicon-euro"></span>
                          </li>
                          <li class="btn col-xs-6 col-xs-offset-3">
                              RESERVA <span class="glyphicon glyphicon-time"></span>
                              
                          </li>
                      </ul>                                  
                  </div>
                  <div class="row col-xs-6 ">
                      <ul>
                          <li class="nomcity">Ulanbataar
                          </li>
                          <li class="preu">2200<span class="glyphicon glyphicon-euro"></span>
                          </li>
                          <li class="btn col-xs-6 col-xs-offset-3">
                              RESERVA <span class="glyphicon glyphicon-time"></span>
                              
                          </li>
                      </ul> 
                  </div>
              </div>
              <div class="row city">
                  <div class="row col-xs-6">
                      <ul>
                          <li class="nomcity">Beijing
                          </li>
                          <li class="preu">2500<span class="glyphicon glyphicon-euro"></span>
                          </li>
                          <li class="btn col-xs-6 col-xs-offset-3">
                              RESERVA <span class="glyphicon glyphicon-time"></span>
                              
                          </li>
                      </ul> 
                  </div>
                  <div class="row col-xs-6">
                      <ul>
                          <li class="nomcity">Seul
                          </li>
                          <li class="preu">4000<span class="glyphicon glyphicon-euro"></span>
                          </li>
                          <li class="btn col-xs-6 col-xs-offset-3">
                              RESERVA <span class="glyphicon glyphicon-time"></span>
                              
                          </li>
                      </ul> 
                  </div>
              </div>
          </div>
        </div>    
          <div class="tab-pane fade" id="Africa">
             <div class="row">
              <div class="row city">
                  <div class="row col-xs-6 ">
                      <ul>
                          <li class="nomcity">El Caire
                          </li>
                          <li class="preu">1100<span class="glyphicon glyphicon-euro"></span>
                          </li>
                          <li class="btn col-xs-6 col-xs-offset-3">
                              RESERVA <span class="glyphicon glyphicon-time"></span>
                              
                          </li>
                      </ul>                                  
                  </div>
                  <div class="row col-xs-6">
                      <ul>
                          <li class="nomcity">Casablanca
                          </li>
                          <li class="preu">550<span class="glyphicon glyphicon-euro"></span>
                          </li>
                          <li class="btn col-xs-6 col-xs-offset-3">
                              RESERVA <span class="glyphicon glyphicon-time"></span>
                              
                          </li>
                      </ul> 
                  </div>
              </div>
              <div class="row city">
                  <div class="row col-xs-6">
                      <ul>
                          <li class="nomcity">Alger
                          </li>
                          <li class="preu">700<span class="glyphicon glyphicon-euro"></span>
                          </li>
                          <li class="btn col-xs-6 col-xs-offset-3">
                              RESERVA <span class="glyphicon glyphicon-time"></span>
                              
                          </li>
                      </ul> 
                  </div>
                  <div class="row col-xs-6">
                      <ul>
                          <li class="nomcity">Tunis
                          </li>
                          <li class="preu">820<span class="glyphicon glyphicon-euro"></span>
                          </li>
                          <li class="btn col-xs-6 col-xs-offset-3">
                              RESERVA <span class="glyphicon glyphicon-time"></span>
                              
                          </li>
                      </ul> 
                  </div>
              </div>
          </div>
        </div> 
          <div class="tab-pane fade" id="America">
             <div class="row">
              <div class="row city">
                  <div class="row col-xs-6 ">
                      <ul>
                          <li class="nomcity">Louisville
                          </li>
                          <li class="preu">2000<span class="glyphicon glyphicon-euro"></span>
                          </li>
                          <li class="btn col-xs-6 col-xs-offset-3">
                              RESERVA <span class="glyphicon glyphicon-time"></span>
                              
                          </li>
                      </ul>                                  
                  </div>
                  <div class="row col-xs-6">
                      <ul>
                          <li class="nomcity">Charlotte
                          </li>
                          <li class="preu">1700<span class="glyphicon glyphicon-euro"></span>
                          </li>
                          <li class="btn col-xs-6 col-xs-offset-3">
                              RESERVA <span class="glyphicon glyphicon-time"></span>
                              
                          </li>
                      </ul> 
                  </div>
              </div>
              <div class="row city">
                  <div class="row col-xs-6">
                      <ul>
                          <li class="nomcity">Oklahoma City
                          </li>
                          <li class="preu">1900<span class="glyphicon glyphicon-euro"></span>
                          </li>
                          <li class="btn col-xs-6 col-xs-offset-3">
                              RESERVA <span class="glyphicon glyphicon-time"></span>
                              
                          </li>
                      </ul> 
                  </div>
                  <div class="row col-xs-6">
                      <ul>
                          <li class="nomcity">Denver
                          </li>
                          <li class="preu">2300<span class="glyphicon glyphicon-euro"></span>
                          </li>
                          <li class="btn col-xs-6 col-xs-offset-3">
                              RESERVA <span class="glyphicon glyphicon-time"></span>
                              
                          </li>
                      </ul> 
                  </div>
              </div>
          </div>
        </div>  
    </div>
 </div>
</div>   
</div>
    
</div>
   
<script src="../bower_components/jquery/dist/jquery.min.js"></script>  
<script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>    
<script src="../bower_components/bootstrap/js/tab.js"></script>  
   

<script>
    $( document ).ready(function() {
        $('#tabs').tab();
        $('.preu').css('font-weight','bold');
        $('.nomcity').css('background-color','#F6F6F6');
        $('.btn').addClass('btn-info click');
        $('.click').on('click', function (){
            var preu = $(this).prev().text();
            var preufinal = preu*0.85;
            $(this).prev().html(preufinal + "<span class='glyphicon glyphicon-euro'></span>");
            $(this).parent().append( "<li class='btn btn-success col-xs-6 col-xs-offset-3'>RESERVAT <span class='glyphicon glyphicon-ok-circle'></span></li>" );
            $(this).remove();
            
        });
        $('.city').css('margin-bottom','30px');
        
        $( '.city div' ).mouseover(function() {
            $(this).find('.nomcity').css('background-color','#E6E6E6');
            $(this).find('.click').removeClass('btn-info');
            $(this).find('.click').addClass('btn-primary');
         })
        .mouseout(function() {
            $(this).find('.nomcity').css('background-color','#F6F6F6');
            $(this).find('.click').removeClass('btn-primary');
            $(this).find('.click').addClass('btn-info');
            
       });
       
    });    
</script> 
    
</body>

</html>