<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Viatges Giménez</title>
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css" type="text/css" />
</head>
<body>
    <!-- Menu -->
        <div class="navbar navbar-default">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Viatges Giménez</a>
      </div>
      <div class="navbar-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav" id="menu">
          <li class="active"><a href="#" id="inici">Inici</a></li>
          </li>
        </ul>
      </div>
    </div>
    <!-- End Menu -->
    <!-- Container -->
        <div class="container"></div>
    <!-- End Container -->
    
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <!--<script src="js/dades.json"></script>!-->
    <script src="js/aplicacio-viatges.js"></script>
</body>
</html>